
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-lg-12">
    <div class="row">
        <input type="text" id="txtFirstName" name="txtFirstName"  placeholder="First Name"/>
    </div>
</div>